spring:
  application:
    name: myapp

  datasource:
    url: jdbc:postgresql://localhost:5432/myapp
    username: myappuser
    password: mypassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG


security:
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    # 1 hour in milliseconds
    expiration-time: 3600000
